<div class="informationContainer" *ngIf="users.length !== 0">
    <div class="userInformation" *ngFor="let user of users; let i = index">
      <div>
        <span>User {{ i }}:</span>
        <span>Email: {{ user.email }},</span>
        <span>Password: {{ user.password }},</span>
        <span>agreement: {{ user.agreement }},</span>
        <span>Nickname: {{ user.nickName }},</span>
        <span>Phone Number:{{ user.phoneNumber }},</span>
        <span>Website: {{ user.website }}</span>
      </div>
      <div>
        <button (click)="clickRemove(i)">remove</button>
        <button (click)="editUser(i)">Edit</button>
      </div>
    </div>
    <div class="remove" *ngFor="let user of users; let i = index">
      <div *ngIf="user.isRemoving">
        <p>
          This action will remove a user with this email: {{ user.email }}` `Are
          you sure?`
        </p>
        <button (click)="remove(i)">Yes</button>
        <button (click)="clickRemove(i)">No</button>
      </div>
    </div>
  </div>
  <form class="secondForm" [formGroup]="updateForm" *ngIf="editingIndex !== null">
    <label
      >Email:
      <input type="email" formControlName="email" />
    </label>
  
    <label
      >Password:
      <input type="password" formControlName="password" />
    </label>
  
    <label
      >Confirm Password:
      <input type="password" formControlName="confirmPassword" />
    </label>
  
    <label
      >Nickname:
      <input type="text" formControlName="nickname" />
    </label>
  
    <label
      >Phone Number:
      <input type="text" formControlName="phoneNumber" />
    </label>
  
    <label
      >Website:
      <input type="text" formControlName="website" />
    </label>
    <div>
      <button
        (click)="updateUser()"
        [disabled]="updateForm.invalid"
        id="updateButton"
        type="button"
      >
        Update
      </button>
    </div>
  </form>